{% load static %}
<script src="{% static 'blog/vendor/jquery/jquery.js' %}"></script>

<script src="{% static 'blog/vendor/bootstrap/js/bootstrap.js' %}"></script>

<link rel="stylesheet" href="{% static 'blog/vendor/bootstrap/css/bootstrap.css' %}">

<link rel="stylesheet" href="{% static 'blog/css/navbar.css' %}">

<link rel="stylesheet" href="{% static 'blog/css/icomoon.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <a class="navbar-brand" href="#">
        <img src="{% static 'blog/img/logo.png' %}" class="img-fluid logo"> 
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">

            <li class="nav-item">
                <a class="nav-link" href="#">
                    <p class="navbar-text">HOME</p>
                </a>
            </li>

            <li class="nav-item dropdown">
                <a  class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    <p class="navbar-text">ABOUT US</p>
                </a>

                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">
                        <p class="navbar-text">OUR STORY</p>
                    </a>

                    <a class="dropdown-item" href="#"> 
                        <p class="navbar-text">OUR TEAM</p>
                    </a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    <p class="navbar-text">OUR WORK</p>
                </a>

                <div class="dropdown-menu dropleft">
                    <a class=" dropdown-item dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        <p class="navbar-text">PROJECT SAATH</p>
                    </a>

                    <ul class="dropdown-menu">
                        <a class=" dropdown-item" href="#">
                            <p class="navbar-text">OVERVIEW</p>
                        </a>

                        <a class=" dropdown-item" href="#">
                            <p class="navbar-text">BLOG</p>
                        </a>

                        <a class=" dropdown-item" href="#">
                            <p class="navbar-text">RESOURCES</p>
                        </a>
                    </ul>

                    <a class="dropdown-item" href="#">
                        <p class="navbar-text">PROJECT CRAFT</p>
                    </a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">
                    <p class="navbar-text">CONTACT US</p>
                </a>
            </li>

        </ul>
    </div> 
</nav> 

<body>
    {% block content %}
    {% endblock %}
</body>


<footer>
    <div id="footer" class="">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="row">
                        <p class="footer-text">
                        © 2019 Orenda Trust</p>
                    </div>
                    <div class="row">
                        <p class="footer-text">
                        New Delhi, India</p>
                    </div>
                    <div class="row">
                        <p class="footer-text">
                        orendatrust@gmail.com</p>
                    </div>
                    <div class="row">
                        <p class="footer-text">
                       orendatrust.com</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <p class="footer-text"><b>IMPORTANT LINKS</b></p>
                    </div>
                    <div class="row">
                        <ul class="footer-text" style=" list-style-type: none;">
                            <li>About Us</li>
                            <li>Project Saath</li>
                            <li>Project Craft</li>
                            <li>Blog</li>
                            <li>Contact Us</li>
                        </ul>
                    </div>
                </div> 
                <div class="col-lg-4">
                    <div class="row">
                        <p class="footer-text"><b>CONNECT WITH US</b></p>
                    </div>
                    <div class="row footer-icons-set">
                        <div class="centering-div">
                            <img class="footer-icons" src="{% static 'blog/img/facebook.svg' %}">
                            <img class="footer-icons" src="{% static 'blog/img/instagram.svg' %}">
                            <img class="footer-icons" src="{% static 'blog/img/gmail.svg' %}">
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</footer>


<script type="text/javascript" src="{% static 'blog/js/main.js' %}"></script>

<script type="text/javascript" src="{% static 'blog/js/index.js' %}"></script>
